.navigation-bar {
  background-color: #f7567c;
  height: 5em;
}

.navigation-logo {
  padding-top:7px;
  padding-left: 15px;
  height:80%;
  width:auto;
  vertical-align: bottom;
}

.home-page-content {
  background-color: #ffefe5;
  height:100%;
  padding-left:100px;
  padding-right:100px;
  padding-top:2em;
  text-align: center;
}

.point-one-line {
  width:100%;
  height:auto;
}

.challenge-button {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 200px;
  color: white;
  background-color: #f7567c;
}

.challenge-button:hover {
  color: #f7567c;
  background-color: white;
}

.line {
  width:100%;
  height:auto;
}

.slogan {
  width: 100%;
  font-size: 3vw;
  font-family: 'Bree Serif', serif;
  color: #246ba0;
  padding-top: 0.5em;
  padding-bottom: 0em;
}

.message {
  width: 100%;
  font-size: 1.13vw;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding-top: 1em;
}

.formula-container {
  padding-top: 1.5em;
}

.formula-container .formula-term-title {
  width: 100%;
  font-size: 3vw;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  color: #246ba0
}

.formula-container .formula-term-subtitle {
  width: 100%;
  font-size: 0.9vw;
  font-family: 'Open Sans', sans-serif;
}

.formula-container .formula-term-operator {
  width: 100%;
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0.5em;
  color: gray;
}

.donation-steps-row {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom:10em;
}

.donation-steps-column {
  float: left;
  width: 27%;
  text-align: center;
  height: 100px;
}

.donation-steps-column-symbol {
  width: 8%;
  float: left;
  text-align: center;
  height: 100px;
}

.symbol {
  position: relative;
  top:46px;
  font-size: 35px;
}

.donation-step-message {
  font-size: 20px;
  margin-bottom: 20px;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:150px;
  border:none;
  border-bottom:1px solid #757575;
  position:relative;
  left:25%;
  text-align: center;
}

input:focus {
  outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 3em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, black, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 1.5em;
  line-height: 3em;
  color: black;
  background-color: #fcfcfa;
}
